name: " - Wheel (Windows)"

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      free-threaded:
        description: 'Whether FT Python or not. Valid value is "ft" or not.'
        default: ''
        type: string
      use-nvdec:
        default: "nvdec"
        type: string
        description: 'Whether build NVDEC extension. Valid value is "nvdec" or not.'
      run-test:
        required: false
        default: 'false'
        type: string
      machine:
        default: "windows-latest"
        type: string
      test-concurrency:
        required: false
        default: '3'
        type: string
      cuda-version:
        required: true
        type: string
        # valida values are like 12.4.1, 12.3.1 etc...

env:
  ARTIFACT: wheel-win-py${{ inputs.python-version }}${{ inputs.free-threaded }}
  SPDL_USE_TRACING: 0
  SPDL_USE_CUDA: 1
  SPDL_USE_NVCODEC: "${{ inputs.use-nvdec == 'nvdec' }}"

jobs:
  build:
    runs-on: "${{ inputs.machine }}"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Build
        run: |
          .\packaging\vc_env_helper.bat                 `
            bash                                        `
              .github/scripts/windows/build_package.sh  `
              "${{ inputs.python-version }}"            `
              '"${{ inputs.free-threaded }}"'           `
              "${{ inputs.cuda-version }}"
          # note the `inputs.free-threaded` can be empty so that the most outer
          # single bracket is necessary

      - uses: actions/upload-artifact@v4
        name: Upload build artifact
        with:
          name: "${{ env.ARTIFACT }}"
          path: package
          if-no-files-found: error
          retention-days: 7
          overwrite: true

      - name: Check package
        run: |
          .\packaging\vc_env_helper.bat                `
            bash                                       `
              .github/scripts/windows/check_package.sh

  unit-test:
    if: "${{ inputs.run-test == 'true' }}"
    name: "test (py ${{ inputs.python-version }}, ffmpeg ${{ matrix.ffmpeg-version }})"
    needs: ["build"]
    strategy:
      fail-fast: false
      matrix:
        ffmpeg-version: ["8.0"]
    runs-on:  "${{ inputs.machine }}"
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.ARTIFACT }}"
          path: package

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ inputs.python-version }}
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: Setup
        run: |
          if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
            conda install -q python-freethreading
          fi

          # Install SPDL
          pip install $(find package -name '*.whl' -depth -maxdepth 1)

          # Install PyTorch and others
          if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
            pip install torch numpy pytest pytest-xdist parameterized
          else
            pip install torch numpy numba pytest pytest-xdist parameterized
          fi

          # Install FFmpeg
          conda install -q "ffmpeg==${{ matrix.ffmpeg-version }}"

      - name: Unit test
        run: |
          set -ex
          pytest -v -n ${{ inputs.test-concurrency }} \
              tests/io \
              tests/dataloader \
              tests/pipeline
