name: " - Wheel (Linux / CUDA)"

on:
  workflow_call:
    inputs:
      machine:
        type: string
        default: "8-core-ubuntu-22.04"
      machine_gpu:
        type: string
        default: "4-core-ubuntu-gpu-t4"
      arch:
        type: string
        default: x86_64
      python-version:
        required: true
        type: string
      free-threaded:
        description: 'Whether FT Python or not. Valid value is "ft" or not.'
        default: ''
        type: string
      cuda-version:
        required: true
        type: string
      use-nvdec:
        default: "nvdec"
        type: string
        description: 'Whether build NVDEC extension. Valid value is "nvdec" or not.'
      run-test:
        required: false
        default: 'false'
        type: string
      test-concurrency:
        required: false
        default: '3'
        type: string

env:
  ARTIFACT: wheel-linux-py${{ inputs.python-version }}${{ inputs.free-threaded }}-cuda${{ inputs.cuda-version }}${{ inputs.use-nvdec }}
  STUB: stub-files-${{ inputs.arch }}-${{ inputs.python-version }}${{ inputs.free-threaded }}
  SPDL_USE_TRACING: 1
  SPDL_USE_CUDA: 1
  SPDL_USE_NVCODEC: "${{ inputs.use-nvdec == 'nvdec' }}"

jobs:
  # build:
  #   runs-on: "${{ inputs.machine }}"
  #   container: "quay.io/pypa/manylinux_2_28_${{ inputs.arch }}"
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         persist-credentials: false

  #     - name: Build
  #       run: |
  #         set -ex

  #         # Figure out versions
  #         py_ver="${{ inputs.python-version }}"
  #         if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
  #           py_ver="${py_ver}t"
  #         fi
  #         cuda_ver="${{ inputs.cuda-version }}"

  #         uv --version
  #         uv python pin "${py_ver}"
  #         uv python list --only-installed
  #         uv venv

  #         # Install CUDA
  #         cuda_dir="/opt/cuda"
  #         .github/scripts/install_cuda_toolkit.py \
  #           --base-dir "${cuda_dir}" \
  #           --cuda-version "${cuda_ver}"
  #         if [ ! -d "${cuda_dir}/lib64" ]; then
  #           ln -s "${cuda_dir}/lib" "${cuda_dir}/lib64"
  #         fi

  #         export PATH="${PATH}:${cuda_dir}/bin"
  #         export CUDA_PATH="${cuda_dir}"
  #         # Sanity check
  #         set -e
  #         nvcc --version

  #         # Build package
  #         uv build --no-python-downloads --all-packages --wheel
  #         ./packaging/repair_wheels.sh "manylinux_2_27_${{ inputs.arch }}" ./dist ~/package

  #     - uses: actions/upload-artifact@v4
  #       name: Upload build artifact
  #       with:
  #         name: "${{ env.ARTIFACT }}"
  #         path: ~/package
  #         if-no-files-found: error
  #         retention-days: 7
  #         overwrite: true

  #     - name: Check package
  #       run: |
  #         # Use latest Python. (it shuold not matter)
  #         python_exe="/opt/python/cp314-cp314/bin/python"
  #         "${python_exe}" -m pip install -r ./packaging/requirements.txt
  #         "${python_exe}" -m twine check --strict ~/package/*.whl

  # check-package-dependency:
  #   if: ${{ inputs.run-test == 'true' }}
  #   needs: ["build"]
  #   runs-on: ${{ inputs.machine }}
  #   steps:
  #     # Note: the suffix 't' is different
  #     - uses: actions/setup-python@v5
  #       if: ${{ inputs.free-threaded == 'ft' }}
  #       with:
  #         python-version: "${{ inputs.python-version }}t"

  #     - uses: actions/setup-python@v5
  #       if: ${{ inputs.free-threaded != 'ft' }}
  #       with:
  #         python-version: "${{ inputs.python-version }}"

  #     - uses: actions/download-artifact@v4
  #       with:
  #         name: "${{ env.ARTIFACT }}"
  #         path: ~/package
  #     - uses: actions/checkout@v4
  #     - name: Dependency Check
  #       run: |
  #         # Install NumPy (the only dep) of SPDL manually, so that
  #         # if a dependency is introduced accidentally, check_deps will catch
  #         pip install numpy
  #         pip install --no-dependencies $(find "${HOME}/package" -name '*.whl' -depth -maxdepth 1)
  #         python .github/scripts/check_deps.py

  test-gpu:
    if: ${{ inputs.run-test == 'true' }}
    name: "test-gpu (py ${{ inputs.python-version }}, ffmpeg ${{ matrix.ffmpeg-version }})"
    strategy:
      fail-fast: false
      matrix:
        ffmpeg-version: ["8.0"]
    runs-on: "${{ inputs.machine_gpu }}"
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      # - uses: actions/download-artifact@v4
      #   with:
      #     name: "${{ env.ARTIFACT }}"
      #     path: ~/package

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "${{ inputs.python-version }}"
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: Setup
        run: |
          set -ex

          if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
            conda install -q -c conda-forge python-freethreading
          fi

          # Install SPDL
          pip install spdl

          # Install PyTorch and others
          pip install pytest pytest-xdist parameterized

          cu_ver="${{ inputs.cuda-version }}"
          cu_ver="${cu_ver//[.]/}"  # Remove dots  12.4.1 -> 1241
          cu_ver="${cu_ver:0:3}"  # Retain three chars 1241 -> 124
          pip install numpy torch --index-url "https://download.pytorch.org/whl/cu${cu_ver}"

          # Install FFmpeg
          # Note: Somehow FFmepg 5.1 does not install libiconv so specifying it here
          conda install -q "ffmpeg==${{ matrix.ffmpeg-version }}" libiconv

          # Sort out library paths
          # 1. For some reason, the FFmpeg dynamic libraries are not found.
          # 2. CUDA runtime PyPI package is installed as part of PyTorch installation.
          # However, it is installed in site-packages dir, which is not in PATH by default.
          # (PyTorch has a special way to load it, but we don't do that)
          cudart_dir="$(
            python -c 'import os.path,nvidia.cuda_runtime;print(os.path.join(nvidia.cuda_runtime.__path__[0], "lib"))'
          )"
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${CONDA_PREFIX}/lib:${cudart_dir}" >> $GITHUB_ENV

      - name: Unit test
        run: |
          set -ex

          nvidia-smi

          python -c 'import spdl.io.utils;assert spdl.io.utils.built_with_cuda()'
          if "${{ inputs.use-nvdec == 'nvdec' }}" ; then
              python -c 'import spdl.io.utils;assert spdl.io.utils.built_with_nvcodec()'
          fi
          (cd tests && python foo.py)
          pytest -v -n ${{ inputs.test-concurrency }} \
              tests/spdl_unittest/cuda/ \
              tests/spdl_unittest/io/

  # test-cpu:
  #   if: "${{ inputs.run-test == 'true' }}"
  #   needs: ["build"]
  #   name: "test-cpu (py ${{ inputs.python-version }}, ffmpeg ${{ matrix.ffmpeg-version }})"
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       ffmpeg-version: ["4.4.2", "5.1", "6.1", "7.1", "8.0"]
  #   runs-on:  ${{ inputs.machine }}
  #   defaults:
  #     run:
  #       shell: bash -el {0}
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         persist-credentials: false

  #     - uses: actions/download-artifact@v4
  #       with:
  #         name: "${{ env.ARTIFACT }}"
  #         path: ~/package

  #     - uses: conda-incubator/setup-miniconda@v3
  #       with:
  #         python-version: ${{ inputs.python-version }}
  #         channels: conda-forge
  #         conda-remove-defaults: "true"

  #     - name: Setup
  #       run: |
  #         set -ex

  #         if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
  #           conda install -q -c conda-forge python-freethreading
  #         fi

  #         # Install SPDL
  #         pip install $(find "${HOME}/package" -name '*.whl' -depth -maxdepth 1)

  #         # Install PyTorch and others
  #         pip install numpy torch --index-url https://download.pytorch.org/whl/cpu
  #         conda install -q numba pytest pytest-xdist parameterized

  #         # Install FFmpeg
  #         # Note: Somehow FFmepg 5.1 does not install libiconv so specifying it here
  #         # Note: Somehow NumPy got downgraded to 1.24 when using FFmpeg 7.1, so adding constraint here.
  #         conda install -q "ffmpeg==${{ matrix.ffmpeg-version }}" libiconv 'numpy>=2'
  #         # For some reason, the dynamic libraries are not found.
  #         echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${CONDA_PREFIX}/lib" >> $GITHUB_ENV

  #     - name: Unit test
  #       run: |
  #         pytest -v -n ${{ inputs.test-concurrency }} \
  #             tests/spdl_unittest/io/ \
  #             tests/spdl_unittest/dataloader/ \
  #             tests/spdl_unittest/pipeline/

  # stub-check:
  #   needs: ["build"]
  #   runs-on: "${{ inputs.machine_gpu }}"
  #   defaults:
  #     run:
  #       shell: bash -el {0}
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         persist-credentials: false

  #     - uses: actions/download-artifact@v4
  #       with:
  #         name: "${{ env.ARTIFACT }}"
  #         path: ~/package

  #     - uses: conda-incubator/setup-miniconda@v3
  #       with:
  #         python-version: ${{ inputs.python-version }}
  #         channels: conda-forge
  #         conda-remove-defaults: "true"

  #     - name: Setup
  #       run: |
  #         set -ex

  #         if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
  #           conda install -q -c conda-forge python-freethreading
  #         fi

  #         # Install SPDL
  #         pip install $(find "${HOME}/package" -name '*.whl' -depth -maxdepth 1)

  #         # Install deps
  #         pip install numpy nanobind==2.8.0 typing_extensions

  #         # Install CUDA
  #         cuda_ver="${{ inputs.cuda-version }}"
  #         cuda_dir="/opt/cuda"  # not a good practice outside of one-off testing. don't copy this
  #         cudart_dir="${cuda_dir}/lib"
  #         .github/scripts/install_cuda_toolkit.py \
  #           --base-dir "${cuda_dir}" \
  #           --cuda-version "${cuda_ver}"
  #         if [ ! -d "${cuda_dir}/lib64" ]; then
  #           ln -s "${cuda_dir}/lib" "${cuda_dir}/lib64"
  #         fi

  #         # Install FFmpeg
  #         conda install -q ffmpeg==8
  #         # For some reason, the dynamic libraries are not found.
  #         echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${CONDA_PREFIX}/lib:${cudart_dir}" >> $GITHUB_ENV

  #     - name: Generate stubs
  #       run: |
  #         set -ex
  #         python src/spdl/io/lib/stubgen.py --output-dir src/spdl/io/lib
  #         git diff --exit-code

  #     - uses: actions/upload-artifact@v4
  #       name: Upload stub
  #       if: failure()
  #       with:
  #         name: "${{ env.STUB }}"
  #         path: src/spdl/io/lib/*.pyi
  #         if-no-files-found: error
  #         retention-days: 7
  #         overwrite: true
