name: " - Wheel (Linux)"

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      free-threaded:
        description: 'Whether FT Python or not. Valid value is "ft" or not.'
        default: ''
        type: string
      arch:
        required: true
        type: string
      machine:
        required: true
        type: string
      run-test:
        required: false
        default: 'false'
        type: string
      test-concurrency:
        required: false
        default: '3'
        type: string

env:
  ARTIFACT: wheel-linux-py${{ inputs.python-version }}${{ inputs.free-threaded }}-${{ inputs.arch }}
  STUB: stub-files-${{ inputs.arch }}-${{ inputs.python-version }}${{ inputs.free-threaded }}

jobs:
  build:
    runs-on: ${{ inputs.machine }}
    container: "quay.io/pypa/manylinux_2_28_${{ inputs.arch }}"
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/cache/restore@v4
        with:
          path: src/third_party/cache
          key: "cmake-build-dependencies-${{ hashFiles('src/third_party/**/CMakeLists.txt') }}"

      - name: Build
        env:
          SPDL_USE_TRACING: 1
        run: |
          set -ex

          # Figure out versions
          py_ver="${{ inputs.python-version }}"
          if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
            py_ver="${py_ver}t"
          fi

          uv --version
          uv python pin "${py_ver}"
          uv python list --only-installed
          uv venv

          # Build package
          uv build --no-python-downloads --all-packages --wheel
          ./packaging/repair_wheels.sh manylinux_2_26_${{ inputs.arch }} ./dist ~/package

      - uses: actions/upload-artifact@v4
        name: Upload build artifact
        with:
          name: "${{ env.ARTIFACT }}"
          path: ~/package
          if-no-files-found: error
          retention-days: 7
          overwrite: true

      - name: Check package
        run: |
          # Use latest Python. (it shuold not matter)
          python_exe="/opt/python/cp314-cp314/bin/python"
          "${python_exe}" -m pip install -r ./packaging/requirements.txt
          "${python_exe}" -m twine check --strict ~/package/*.whl

      - uses: actions/cache/save@v4
        with:
          path: src/third_party/cache
          key: "cmake-build-dependencies-${{ hashFiles('src/third_party/**/CMakeLists.txt') }}"

  check-package-dependency:
    if: "${{ inputs.run-test == 'true' }}"
    needs: ["build"]
    runs-on: ${{ inputs.machine }}
    steps:
      # Note: the suffix 't' is different
      - uses: actions/setup-python@v5
        if: ${{ inputs.free-threaded == 'ft' }}
        with:
          python-version: "${{ inputs.python-version }}t"

      - uses: actions/setup-python@v5
        if: ${{ inputs.free-threaded != 'ft' }}
        with:
          python-version: "${{ inputs.python-version }}"

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.ARTIFACT }}"
          path: ~/package
      - uses: actions/checkout@v4
      - name: Dependency Check
        run: |
          # Install NumPy (the only dep) of SPDL manually, so that
          # if a dependency is introduced accidentally, check_deps will catch
          pip install numpy
          pip install --no-dependencies $(find "${HOME}/package" -name '*.whl' -depth -maxdepth 1)
          python .github/scripts/check_deps.py

  unit-test:
    if: "${{ inputs.run-test == 'true' }}"
    needs: ["build"]
    name: "test (py ${{ inputs.python-version }}, ffmpeg ${{ matrix.ffmpeg-version }})"
    strategy:
      fail-fast: false
      matrix:
        ffmpeg-version: ["8.0"]
    runs-on: ${{ inputs.machine }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.ARTIFACT }}"
          path: ~/package

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ inputs.python-version }}
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: Setup
        run: |
          set -ex

          if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
            conda install -q -c conda-forge python-freethreading
          fi

          # Install SPDL
          pip install $(find "${HOME}/package" -name '*.whl' -depth -maxdepth 1)

          # Install PyTorch and others
          pip install numpy torch --index-url https://download.pytorch.org/whl/cpu
          conda install -q numba pytest pytest-xdist parameterized

          # Install FFmpeg
          # Note: Somehow FFmepg 5.1 does not install libiconv so specifying it here
          conda install -q "ffmpeg==${{ matrix.ffmpeg-version }}" libiconv
          # For some reason, the dynamic libraries are not found.
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${CONDA_PREFIX}/lib" >> $GITHUB_ENV

      - name: Unit test
        run: |
          set -ex

          python -c 'import spdl.io.utils;assert not spdl.io.utils.built_with_cuda()'
          pytest -v -n ${{ inputs.test-concurrency }} \
              tests/io/ \
              tests/dataloader/ \
              tests/pipeline/

  stub-check:
    needs: ["build"]
    runs-on: ${{ inputs.machine }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/download-artifact@v4
        with:
          name: "${{ env.ARTIFACT }}"
          path: ~/package

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ inputs.python-version }}
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: Setup
        run: |
          set -ex

          if [[ "${{ inputs.free-threaded }}" == 'ft' ]]; then
            conda install -q -c conda-forge python-freethreading
          fi

          # Install SPDL
          pip install $(find "${HOME}/package" -name '*.whl' -depth -maxdepth 1)

          # Install deps
          pip install numpy nanobind==2.8.0 typing_extensions

          # Install FFmpeg
          conda install -q ffmpeg==8
          # For some reason, the dynamic libraries are not found.
          echo "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${CONDA_PREFIX}/lib" >> $GITHUB_ENV

      - name: Generate stubs
        run: |
          set -ex
          python src/spdl/io/lib/stubgen.py --output-dir src/spdl/io/lib
          git diff --exit-code

      - uses: actions/upload-artifact@v4
        name: Upload stub
        if: failure()
        with:
          name: "${{ env.STUB }}"
          path: src/spdl/io/lib/*.pyi
          if-no-files-found: error
          retention-days: 7
          overwrite: true
