name: "Build Wheel: CUDA"

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "examples"
      - "README.md"
    branches:
      - main
  push:
    paths-ignore:
      - "docs/**"
      - "examples"
      - "README.md"
    branches:
      - main

jobs:
  build-wheel-cuda:
    name: "Build CUDA wheel"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        cu-version: ["12.1"]
        python-version: ["cp310-cp310", "cp311-cp311", "cp312-cp312", "cp313-cp313"]
    container:
      image: pytorch/manylinux2_28-builder:cuda${{ matrix.cu-version }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Build Wheel
        env:
          CUDACXX: "/usr/local/cuda-${{ matrix.cu-version }}/bin/nvcc"
          SPDL_USE_CUDA: "1"
          SPDL_USE_NVCODEC: "1"
          SPDL_USE_NVJPEG: "1"
          SPDL_USE_NPPI: "1"
          SPDL_LINK_STATIC_NVJPEG: "0"
          SPDL_USE_TRACING: "1"
          SPDL_BUILD_STUB: "0"
        run: |
          python3 -m pip uninstall -y cmake
          ./packaging/build_wheel.sh ${{ matrix.python-version }}
          ./packaging/audit_wheel.sh

      - uses: actions/upload-artifact@v4
        with:
          name: spdl.manylinux.${{ matrix.python-version }}.${{ matrix.cu-version }}
          path: ./wheelhouse
          if-no-files-found: error
          retention-days: 1
          overwrite: true
