name: "Build Conda: CPU"

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "README.md"
    branches:
      - main
  push:
    paths-ignore:
      - "docs/**"
      - "README.md"
    branches:
      - main

jobs:
  #############################################################################
  # macOS
  #############################################################################
  mac-312:
    name: "Conda Package (mac-3.12)"
    uses: ./.github/workflows/conda_build.yml
    with:
      os: macos-latest
      python-version: "3.12"

  mac-311:
    name: "Conda Package (mac-3.11)"
    uses: ./.github/workflows/conda_build.yml
    with:
      os: macos-latest
      python-version: "3.11"

  mac-310:
    name: "Conda Package (mac-3.10)"
    uses: ./.github/workflows/conda_build.yml
    with:
      os: macos-latest
      python-version: "3.10"
      run-test: true

  #############################################################################
  # ubuntu (CPU)
  #############################################################################
  ubuntu-312:
    name: "Conda Package (ubuntu-3.12)"
    uses: ./.github/workflows/conda_build.yml
    with:
      os: ubuntu-latest
      python-version: "3.12"

  ubuntu-311:
    name: "Conda Package (ubuntu-3.11)"
    uses: ./.github/workflows/conda_build.yml
    with:
      os: ubuntu-latest
      python-version: "3.11"

  ubuntu-310:
    name: "Conda Package (ubuntu-3.10)"
    uses: ./.github/workflows/conda_build.yml
    with:
      os: ubuntu-latest
      python-version: "3.10"
      run-test: true

