name: "Docs"

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "tests/**"
      - "third_party/**"
      - "*.md"
    branches:
      - main
  push:
    paths-ignore:
      - "tests/**"
      - "third_party/**"
      - "*.md"
    branches:
      - main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
    runs-on:  ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: "3.12"
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: Build docs
        run: |
          set -x
          wget -qO- https://astral.sh/uv/install.sh | sh
          uv pip install . -v
          conda install -q 'ffmpeg==8' doxygen
          pip install torch torchvision --index-url https://download.pytorch.org/whl/cpu
          export "LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:${CONDA_PREFIX}/lib:${cuda_dir}/lib:${cuda_dir}/lib64"
          pip install tensorboard -r docs/requirements.txt
          python -c 'import logging;logging.basicConfig(level=logging.DEBUG);from spdl.io.lib import _libspdl_cuda;_libspdl_cuda.CUDABuffer'
          python -c 'import logging;logging.basicConfig(level=logging.DEBUG);import spdl.io;print(spdl.io.CUDABuffer.__doc__);'
          ./docs/build.sh
          mkdir upload
          mv docs/_build upload/_site

      - uses: actions/upload-artifact@v4
        with:
          name: docs
          path: upload
          if-no-files-found: error
          retention-days: 1
          overwrite: true

  deploy:
    permissions:
      # Required for `git push`
      # Note:
      #   This is not effective from fork.
      #   When you debug this, make sure to make a branch on the upstream, and
      #   make PR from there.
      contents: write
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v3
      with:
        ref: gh-pages
        fetch-depth: 5
    - uses: actions/download-artifact@v4
      with:
        name: docs
    - name: Update main doc
      run: |
        set -x

        ls -alh
        rm -rf main
        mv _site main

        git add --all main || true

        git config user.name "ci"
        git config user.email "noreply@meta.com"
        git commit --amend -m "Update docs" || true
        git push -f
