name: "Package Linux"

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "examples/**"
      - "*.md"
    branches:
      - main
  push:
    paths-ignore:
      - "docs/**"
      - "examples/**"
      - "*.md"
    branches:
      - main

jobs:
  #############################################################################
  # Conda (CUDA-11.8)
  #############################################################################
  conda-cuda-py312-cu118:
    name: "Conda: py3.12, cu11.8"
    uses: ./.github/workflows/_conda_cuda_build.yml
    with:
      python-version: "3.12"
      cu-version: "11.8.0"
      artifact: conda-cuda-py312-cu118

  conda-cuda-py311-cu118:
    name: "Conda: py3.11, cu11.8"
    uses: ./.github/workflows/_conda_cuda_build.yml
    with:
      python-version: "3.11"
      cu-version: "11.8.0"
      artifact: conda-cuda-py311-cu118

  conda-cuda-py310-cu118:
    name: "Conda: py3.10, cu11.8"
    uses: ./.github/workflows/_conda_cuda_build.yml
    with:
      python-version: "3.10"
      cu-version: "11.8.0"
      artifact: conda-cuda-py310-cu118

  conda-cuda-py310-cu118-test:
    name: "Test Conda: py3.10, cu11.8"
    uses: ./.github/workflows/_conda_cuda_test.yml
    needs: [ "conda-cuda-py310-cu118" ]
    with:
      python-version: "3.10"
      cu-version: "11.8"
      artifact: conda-cuda-py310-cu118

  #############################################################################
  # Conda (CUDA-12.1)
  #############################################################################
  conda-cuda-py312-cu121:
    name: "Conda: py3.12, cu12.1"
    uses: ./.github/workflows/_conda_cuda_build.yml
    with:
      python-version: "3.12"
      cu-version: "12.1.0"
      artifact: conda-cuda-py312-cu121

  conda-cuda-py311-cu121:
    name: "Conda: py3.11, cu12.1"
    uses: ./.github/workflows/_conda_cuda_build.yml
    with:
      python-version: "3.11"
      cu-version: "12.1.0"
      artifact: conda-cuda-py311-cu121

  conda-cuda-py310-cu121:
    name: "Conda: py3.10, cu12.1"
    uses: ./.github/workflows/_conda_cuda_build.yml
    with:
      python-version: "3.10"
      cu-version: "12.1.0"
      artifact: conda-cuda-py310-cu121

  conda-cuda-py310-cu121-test:
    name: "Test Conda: py3.10, cu12.1"
    uses: ./.github/workflows/_conda_cuda_test.yml
    needs: [ conda-cuda-py310-cu121 ]
    with:
      python-version: "3.10"
      cu-version: "12.1"
      artifact: conda-cuda-py310-cu121

  #############################################################################
  # Wheel (CUDA-12.1)
  #############################################################################
  wheel-cuda-py312-cu121:
    name: "Wheel: py3.12, cu12.1"
    uses: ./.github/workflows/_wheel_cuda_build.yml
    with:
      python-version: "3.12"
      cu-version: "12.1"
      artifact: wheel-cuda-py312-cu121

  wheel-cuda-py311-cu121:
    name: "Wheel: py3.11, cu12.1"
    uses: ./.github/workflows/_wheel_cuda_build.yml
    with:
      python-version: "3.11"
      cu-version: "12.1"
      artifact: wheel-cuda-py311-cu121

  wheel-cuda-py310-cu121:
    name: "Wheel: py3.10, cu12.1"
    uses: ./.github/workflows/_wheel_cuda_build.yml
    with:
      python-version: "3.10"
      cu-version: "12.1"
      artifact: wheel-cuda-py310-cu121

  wheel-cuda-py310-cu121-test:
    name: "Test Wheel: py3.10, cu12.1"
    needs: [ wheel-cuda-py310-cu121 ]
    uses: ./.github/workflows/_wheel_cuda_test.yml
    with:
      python-version: "3.10"
      cu-version: "12.1"
      artifact: wheel-cuda-py310-cu121
